<section id="main_home" class="g3 cf">
  <div id="slideshow">
    <div id="slide_wrap" data-autorotate="3000">
      <ul class="slider" id="home_slides">
        <li class="slide"><a href="/products/the-fuzz-strap">{{ 'introducing_straps.png' | asset_url | img_tag:' The Fuzz Strap' }}</a></li>
        <li class="slide"><a href="/products/the-original-fuzz-bag">{{ 'home_slide_1.png' | asset_url | img_tag:' The Original Fuzz Bag' }}</a></li>
        <li class="slide"><a href="/products/the-original-fuzz-bag">{{ 'home_slide_2.png' | asset_url | img_tag:'A tackle box for your guitar.' }}</a></li>
        <li class="slide"><a href="/products/the-original-fuzz-bag">{{ 'range_of_gear.png' | asset_url | img_tag:'Perfect for a wide range of gear.' }}</a></li>
      </ul>
    </div><!-- end slide_wrap -->
  </div><!-- end slideshow -->
</section><!-- end main -->

<div id="complementary_wrap" class="cf">
  <section id="complementary_home" class="cf">
    <div id="intro" class="g3">
      <h1>Made in the USA with a ton of care.</h1>
       <p><a class="button pill" href="/products/the-original-fuzz-bag">Find Out More</a></p>
    </div><!-- end intro -->

    <div class="home_teaser cf g1">
      <a href="/products/the-original-fuzz-bag">{{ 'home_teaser_1.jpg' | asset_url | img_tag:'the fuzz is made to fit your pedals' }}</a>
      <p>The Fuzz Bag is a gig bag with padded compartments and thoughtful nooks and crannies built to organize all of the random gear you need handy. It feels great when you've got your Fuzz Bag in one hand and your guitar case in the other.</p>
    </div>

    <div class="home_teaser cf g1">
      <a href="/products/the-original-fuzz-bag">{{ 'home_teaser_2.jpg' | asset_url | img_tag:'the fuzz bag has a padded lining' }}</a>
      <p>Our custom, padded pedal compartment keeps your pedals secure, and our waterproof lining keeps your gear dry. Housed in 100% cotton duck canvas, the Fuzz Bag provides the durability needed to protect your gear.</p>
    </div>

    <div class="home_teaser cf g1">
      <a href="/products/the-original-fuzz-bag">{{ 'home_teaser_3.jpg' | asset_url | img_tag:'the fuzz bag is like a toolbox for your guitar stuff' }}</a>
      <p>We've thought of every last detail. The Fuzz Bag is perfect for picks, strings, screwdrivers, batteries, cables, harmonicas, tuners, and everything else an active musician might need. Designed by musicians, for musicians. It rules.</p>
    </div>
    
    <div id="homepage_video" class="g3 cf">
      <h2>Introducing the Fuzz Bag</h2>
      <iframe src="http://player.vimeo.com/video/30647135?title=0&amp;byline=0&amp;portrait=0&amp;color=303a4c" width="560" height="315" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
        <p><a class="button pill" href="/products/the-original-fuzz-bag">Get the Fuzz Bag</a></p>  
    </div><!-- end homepage_video -->
  </section><!-- end complementary_home -->
</div><!--end complementary_wrap -->